{% extends "base.html" %}
{% load markdown_deux_tags %}


{% block title %}Simple DiscussDB - {{post.title}} {% endblock %}


{% block content %}

<div class="row">
  <div class="large-12 columns">
    <article>

      <h1>{{post.title}}</h1>
      <h6>Written by {{post.author}}</h6>
      <div class="ourimage"><img src="/media/{{post.image}}"</div>

      <p>{{post.body|markdown}}</p>
      <!-- up above code allows text only to be displayed in markdown-->

      <div class="ourtags"><p>{{post.tag}}<p></div>

    </article>
  </div>
</div>

{% endblock %}
